*{
    margin: 0;
    padding: 0;
}

.all{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1));
}

.zestaw{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tresc{
    font-size: large;
    margin-top: 1rem;
}

#tresc2{
    font-size: large;
    margin-top: 1rem;
}

#tresc3{
    font-size: large;
    margin-top: 1rem;
}

.pokaz{
    display: block;
    width: 70%;
}

.schowaj{
    display: none;
}

.conc{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
}

.conc2{
    display: flex;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conc3{
    display: flex;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.karta{
    height: 70%;
    width: 20%;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    text-align: center;
    color: white;
    background-image: url(https://www.elisascience.org/files/styles/keyimage/public/images/M31_Spiral_Galaxy.jpg?itok=Jo_1T4c9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 3px 3px;
}

.karta2{
    height: 70%;
    width: 20%;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    text-align: center;
    color: white;
    background-image: url(https://lh3.googleusercontent.com/proxy/rP0Jr7THp0OABKZ817P2ArYoxGmmru-Kxl_Y2UwUfqxA5LsoGIkodZdueST_berIH0qnH6wsz1-0NlXqM0dP4MI53K6ZBXQuZ7fYO41PRyTBpZV8F82eLO3AErO3iDFMUZxNtyuwFHKN24jNNH4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 3px 3px;
}

.karta3{
    height: 70%;
    width: 20%;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    text-align: center;
    color: white;
    background-image: url(https://lh3.googleusercontent.com/proxy/LfCI7WEGMB2PsrVaeFMD7GEJQginuKIHXLV2hYjL-hpRt4l5tEUt5BHXH4YykzrqTueTbM4HNOzl_157_XPZkqZgOELRML0mrVg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 3px 3px ;
}


@keyframes wej {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }

  @keyframes wyj {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  
  